{name, "timed_supervisor"}.
{authors, ["Serge Aleynikov <saleyn@gmail.com>"]}.
{description, "Allows to run an application on given days of week and hours of day."}.
{rebar_compatible, true}.
{license, "Erlang Public License Version 1.1"}.
{url, {git, "https://github.com/omarkj/TimedSupervisor.git", {branch, "master"}}}.
{applications, [timed_supervisor]}.
